@import "./projects.scss";
@import "./variable";
@import "./blog.scss";
@import "./about.scss";
@import "./contact.scss";

@font-face{
    font-family:"cairofont";
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: "cairofont","Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}
.container-fluid{
    overflow: hidden;
}
.top-menu{
    .navbar{
        font-weight: bold;
        padding: 0px 100px;
        background-color: white;
        .navbar-nav{
            li > a{
                transition-property: background-color;
                transition-duration: 0.5s;
                &:hover,
                &:active,
                &:focus,
                &:active:focus,
                &:active:hover
                {
                    color: $main-color;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }
            .active a{
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }
}
.carousel-top{
    .row{
        display: block;
    }
    .carousel{
        .carousel-item{
            img{
                height: 450px;
            }
            .overlay{
                position: absolute;
                background: rgba(65,155,155,0.5);
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: flex !important;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }
        .carousel-indicators{
            li{
                width: 16px;
                height: 15px;
                border-radius: 50%;
                margin: 20px 5px 0px 0px;
                &.active{
                    background-color: $main-color;
                }
            }
        }
        .carousel-caption{
            h1{
                font-weight: bold;
                color: white;
                margin-bottom: 50px;
            }
            h4{
                width: 60%;
                color: $custom-color;
            }
        }
    }
}
.custom-btn{
    padding: 10px 20px;
    color: $main-color;
    border: 1px solid $main-color;
    font-weight: bold;
    &:hover,
    &:focus,
    &:hover,
    &:active:hover,
    &:active:focus{
        color: $custom-color !important;
        background-color: $main-color !important;
        border: 1px solid $custom-color !important;
    }
}
.who-are-we{
    .custom-paragraph{
        line-height: 2em;
        span{
            color: $main-color;
            font-weight: bold;
        }
    }
}
.custom-btn-main{
    padding: 20px;
    background-color: $main-color;
    color: white;
    font-weight: bold;
    width: 250px;
    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover{
        color: #000;
    }
}
.latest-projects{
    background-color: #ffffcc;
    .carousel{
        width: 79%;
        .thumbnail{
            position: relative;
            margin-bottom: 20px;
            margin-top: 20px;
            .caption2{
                position: absolute;
                top: 0;
                left: 0;
                background:rgba(65,155,155,0.5) ;
                max-width: 100%;
                height: 100%;
                padding: 2%;
                text-align: center;
                color: white;
                display: none;
            }
            .project-category{
                position: absolute;
                right: 0;
                top: 5%;
                font-weight: bold;
                background-color: rgba(240, 240, 240, .75);
                padding: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                box-shadow: 0px 5px 20px 0px #202020;
            }
            
        }
        button.carousel-control-next{
            position: absolute;
            left: -5%;
            color: #252222;
            width: 0;
        }
        button.carousel-control-prev{
            position: absolute;
            right: -6%;
            color: #252525;
            width: 0;
        }
    }
}
.project-details{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.said-about-company{
    .custom-img{
        border-radius: 10px;
        margin: 20px;
    }
    .custom-paragraph{
        line-height: 2em;
    }
    .fa-angle-right,
    .fa-angle-left{
        color: #252222;
    }
    button.carousel-control-next{
        position: absolute;
        left: 7%;
        width: 0;
    }
    button.carousel-control-prev{
        position: absolute;
        right: 7%;
        width: 0;
    }
}
.clients{
    background-color: #419b9b;

}
.latest-post{
    .card-body{
        width: 90%;
        border: 1px solid #cccccc;
        border-radius: 5px;
        position: relative;
        top: -17px;
        left: -5%;
        background-color: white;
    }
    .card-title{
        font-weight:bold;
        font-size: 18px;
    }
    .card-text{
        font-size: 14px;
    }
}
footer{
    height: 450px;
    background-color: #393939;
    h2{
        color: $custom-color;
        font-size: 150%;
    }
    .line1{
        width: 5%;
        border-top: 3px solid $custom-color;
    }
    #footer-nav-links{
        a{
            text-decoration: none;
            color: #bbb;
            margin-left: 15px;
            font-size: 90%;
            &:hover,
            &:focus,
            &:active,
            &:active:hover,
            &:active:focus{
                color: $custom-color;
            }
        }
    }
    .line2{
        width: 60%;
        border-top: 3px solid $custom-color;
    }
    .form{
        margin-right: 48px;
        margin-left: 48px;
        input{
            background-color: #202020;
            border-radius: 1px;
            border: none;
            &:focus{
                border-color: $custom-color;
                background-color: #202020;
                box-shadow: 0 0 2px 0 $custom-color;
                color: $custom-color;
            }
        }
        .btn-light{
            &:hover,
            &:focus,
            &:active,
            &:active:focus,
            &:active:hover{
                color: $custom-color;
                background-color: #363636;
                border: 1px solid $custom-color;
                transition-property: border , color ,background-color;
                transition-duration: 0.3s;
            }
        }
    }
    .copyright{
        color: #969696;
        font-size: 90%;
        font-weight:bold
    }
    .copyright-link{
        text-decoration: none;
        &:hover,
        &:focus,
        &:active,
        &:active:focus,
        &:active:hover{
            color: $custom-color;
        }
    }
}
@media (max-width:1199.98px){

}
@media (max-width:991.98px){
    .top-menu{
        .navbar{
            padding: 0px 20px;
            .navbar-nav{
                a{
                    border-bottom: none !important;
                    padding-right: 5px;
                }
            }
        }
    }
}
@media (max-width:767.98px){
    .carousel-top{
        .carousel{
            .carousel-item{
                img{
                    height: 350px;
                }
            }
            .carousel-caption{
                h1{
                    font-size: 30px;
                }
                h4{
                    font-size: 20px;
                }
            }
        }
    }
}
@media (max-width:575.98px){
    /*.carousel-top{
        .carousel{
            .carousel-caption{
                h1{
                    display: none;
                }
            }
        }
    }*/
}